<div class="follow-container">

  <ul class="follow-table">
  <h1 class="user-show-list-heading">フォロー</h1>
  <% user.followings.each do |following| %>
    <%=link_to user_path(following) do %>
      <li class="follow-content">
        <%= following.name %><br/>
        <p style="color: coral;"><%= time_ago_in_words(Review.where(user_id: following.id).last.created_at)%>経過 / 期限 : <%= Review.where(user_id: following.id).last.limit_id %>日</p>
      </li>
      <% end %>
  <% end %>
  </ul>

</div>