// 共通部分↓
html{
  // background-color: aliceblue;
}

a{
  text-decoration: none;
  list-style: none;
  color: #666666;
}

input {
  border: none;
  outline: none;
}

textarea{
  resize: none;
}

*{
  color: #666666;
}

main{
  padding: 20px 0;
  height: 85vh;
  display: flex;
  justify-content: space-between;
}

.side-bar{
  display: flex;
  padding: 0 15px 0 15px;
  width:80px;
  writing-mode: vertical-rl;
  border-right: #666666 1px solid;
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
}

.side-bar a{
  font-size: 17px;
  width: 30%;
}

.image-area{
  margin-left: 3vw;
  display: flex;
  justify-content: flex-start;
}


.side-image{
  width: 6vw;
  height: 85vh;
  padding-right: 1vw;
}


.container{
  width: 100%;
  // background-color: aliceblue;
  padding-right: 1vw;
}

footer{
  display: flex;
  justify-content: center;
}

.under-ber{
  background-color: aliceblue;
  width: 100%;
  // margin: 20px 0px;
  padding: 2vh 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: #666666 1px solid;
}

footer a{
font-size: 30px;
// padding:0 20px 0 20px;
}

// 共通部分↑
// Topページレイアウト部分↓


.root-container{
  margin-right: 40px;
  // background-color: lightpink;
  display: flex;
  justify-content: flex-start;
}

.root-image{
  width: 35%;
  height:calc(85vh - 17px);
  margin-right: 20px;
}

// Topページレイアウト部分↑

// 新規投稿ページレイアウト部分↓

.review-container{
  // background-color: aliceblue;
  height: calc(100% - 46px);
  overflow: scroll;
}

.review-upper{
  display: flex;
  justify-content:flex-start;
  border-bottom: #666666 1px solid;
  align-items: center;
  font-size: 25px;
  // background-color: beige;
}

.title-form{
  background-color: transparent;
  width: 100%;
  font-size: 20px;
}

.review-middle{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #666666 1px solid;
  padding: 10px;
  // background-color: cornflowerblue;
  font-size: 13px;
}

.select-box{
  background-color: transparent;
}

.review-bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0px;
  border-bottom: #666666 1px solid;
  // background-color: blanchedalmond;
}

.review-container label{
  padding-right: 1vw;
}

.review-content{
  font-size: 16px;
}

.review-box{
  // background-color: cornsilk;
  height: 60vh;
  height:calc(85vh - 214px);
  margin-bottom: 10px;
  border-bottom: #666666 1px solid;
  
}

.review-error{
  display: flex;
  justify-content: center;
  border-bottom: #666666 1px solid;
}

.review-error li{
  color: coral;
  font-size: 10px;
  padding-right: 10px;
  display: inline;
  line-height: 24px;
}

.text-form{
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  font-size: 12px;
  background-color: transparent;
} 

.submit-btn{
  height: 30px;
  width: 120px;
  font-size: 13px;
  color: white;
  background-color: #666666;
}
// 新規投稿ページレイアウト部分↑
// 投稿一覧ページ

.index-container{
  width: 100%;
  height: 100%;
  padding: 0;
  // background-color:red;
}


.index-table{
  overflow: scroll;
  height: calc(100% - 55px);
  width: 100%;
  // background-color: rosybrown;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.index-cover{
  padding: 0px 15px;
  height: 270px;
  width: 187px;
}

.index-content{
  font-size: 12px;
  text-align: center;
  padding: 10px 0 10px 0 ;
}

// 投稿一覧ページ
// 投稿詳細ページ

.review-show-container{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  height: calc(100% - 66px);
  width: 100%;
}

.review-show-left{
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  width: 35%;
  height: 100%;
  border-right: #666666 1px solid;
}


.review-show-right{
  overflow-y: scroll;
  width:calc(65% - 1vw);
  height:calc(100% - 20px);
}


.show-cover{
  padding-top: 3vh;
  height: 300px;
  width: 217px;
}

.review-show-info{
  padding-top: 20px;
}

.review-show-content{
  font-size: 15px;
  padding-bottom: 15px;
}

.review-show-text{
  overflow-y: scroll;
  overflow-wrap: break-word;
  font-size: 15px;
  padding: 18px 1vw 0 1vw;
}