// 共通部分↓
a{
  text-decoration: none;
  list-style: none;
  color: #666666;
}


main{
  padding-top: 20px;
  height:calc(85vh - 20px);
  display: flex;
  justify-content: space-between;
}

.side-bar{
  display: flex;
  padding: 0 15px 0 15px;
  width:80px;
  writing-mode: vertical-rl;
  border-right: #666666 1px solid;
  display: flex;
  justify-content: space-around;
}

.side-bar a{
  font-size: 17px;
  width: 30%;
}

.image-area{
  margin-left: 3vw;
  display: flex;
  justify-content: flex-start;
}


.side-image{
  width: 6vw;
  height:calc(85vh - 20px);
  padding-right: 1vw;
}


.container{
  width: 100%;
  // background-color: lightgoldenrodyellow;
}

footer{
  display: flex;
  justify-content: center;
  height: 15vh;
  // background-color: lightcyan;
}

.under-ber{
  width: 100%;
  margin: 20px 0px;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  border-top: #666666 1px solid;
}

footer a{
font-size: 45px;
padding-right: 40px;
}

// 共通部分↑
// Topページレイアウト部分↓


.root-container{
  margin-right: 40px;
  // background-color: lightpink;
  display: flex;
  justify-content: flex-start;
}

.root-image{
  width: 35%;
  height:calc(85vh - 17px);
  margin-right: 20px;
}