<h1 class="index heading">All Reviews</h1>
<div class="index-container">
  <ul class="index-table">
    <% @reviews.each do |review| %>
      <li class="index-content">
        <%= link_to review_path(review) do %>
          <%= image_tag "index_cover.jpg", class:"index-cover" %>
          <h6><%= 'ランチェスター戦略「営業」大全' %></h6>
        <% end %>
        <%= link_to review.user.name , user_path(review.user)%></h6>
      </li>
    <% end %>
  </ul>
</div>  