<h1 class="index heading"> @review.title</h1>
<div class="review-show-container">
  <div class="review-show-left">
    <ul class="review-show-info">
      <li class="review-show-content">
        <h1>Category: コミュニケーション</h1>
      </li>
      <li class="review-show-content">
        <h1>Reviewer: katsuji</h1>
      </li>
      <li class="review-show-content">
        <h1>Time limit: 7日</h1>
      </li>
      <li class="review-show-content">
        <h1>Created at: 2020.11.26</h1>
      </li>
      <li class="review-show-content">
        <%= image_tag "index_cover.jpg", class:"show-cover" %>
      </li>
      
    </ul>
  </div>
  <div class="review-show-right">
    <div class="review-show-text">
      <p class="review-paragraph">
        ランチェスターの法則（ランチェスターのほうそく、英：Lanchester's laws）は戦争における戦闘員の減少度合いを数理モデルにもとづいて記述した法則。一次法則と二次法則があり、前者は剣や弓矢で戦う古典的な戦闘に関する法則、後者は小銃やマシンガンといった兵器を利用した近代戦を記述する法則である。<br/>
これらの法則は1914年にフレデリック・ランチェスターが自身の著作L1916で発表したもので、原著ではこれらの法則を元に近代戦における空軍力の重要性を説いている。この論文は今日でいうオペレーションズ・リサーチの嚆矢となった
ランチェスターの法則は実際の戦争においても確認されており、例えばJ.H.エンゲルE1954は二次法則に従って硫黄島の戦いを解析することにより、わずかな誤差でこの法則が成り立つことを確認している佐藤84(p184-185)。
古典的な戦闘と近代的な戦闘で従う法則に違いが生じるのは、剣や弓矢による古典的な戦闘では個々の味方が個々の敵を相手とする一騎討ちを基本とした局地戦になるのに対し、小銃やマシンガンを利用した近代的な戦闘では集団的な行動をとる味方が、乱射により不特定の敵を確率的に殺していくものだからである佐藤84(p72-74)。
古典的な戦闘の場合には、個々人による一騎討ちの寄せ集めであるので、戦争による戦闘員の消耗は単純に味方の人数と敵の人数の一次式になる（一次法則）。それに対し近代的な戦闘の場合、戦闘員の消耗は味方の人数と敵の人数の２次式（双曲線）になることが示せる（二次法則）。よって古典的な戦闘とは消耗する人数が大きく異なり、近代的な戦闘では古典的な戦闘と比べ、人数が多い方の軍隊が大幅に有利になる(後述)。
なお、戦後になってからランチェスターの法則を導出した数理モデルは経営学にも一部応用されており、フォルクスワーゲンのセールス戦略をこれにより説明するなどがされている（後述）佐藤84(p188-200)。経営コンサルタントの田岡信夫は自身の研究を踏まえてこれを易しく解説した本を書いており佐藤84(p200)、日本では「ランチェスター経営戦略」と呼ばれている。ランチェスターの法則（ランチェスターのほうそく、英：Lanchester's laws）は戦争における戦闘員の減少度合いを数理モデルにもとづいて記述した法則。一次法則と二次法則があり、前者は剣や弓矢で戦う古典的な戦闘に関する法則、後者は小銃やマシンガンといった兵器を利用した近代戦を記述する法則である。
これらの法則は1914年にフレデリック・ランチェスターが自身の著作L1916で発表したもので、原著ではこれらの法則を元に近代戦における空軍力の重要性を説いている。この論文は今日でいうオペレーションズ・リサーチの嚆矢となった ランチェスターの法則は実際の戦争においても確認されており、例えばJ.H.エンゲルE1954は二次法則に従って硫黄島の戦いを解析することにより、わずかな誤差でこの法則が成り立つことを確認している佐藤84(p184-185)。 古典的な戦闘と近代的な戦闘で従う法則に違いが生じるのは、剣や弓矢による古典的な戦闘では個々の味方が個々の敵を相手とする一騎討ちを基本とした局地戦になるのに対し、小銃やマシンガンを利用した近代的な戦闘では集団的な行動をとる味方が、乱射により不特定の敵を確率的に殺していくものだからである佐藤84(p72-74)。 古典的な戦闘の場合には、個々人による一騎討ちの寄せ集めであるので、戦争による戦闘員の消耗は単純に味方の人数と敵の人数の一次式になる（一次法則）。それに対し近代的な戦闘の場合、戦闘員の消耗は味方の人数と敵の人数の２次式（双曲線）になることが示せる（二次法則）。よって古典的な戦闘とは消耗する人数が大きく異なり、近代的な戦闘では古典的な戦闘と比べ、人数が多い方の軍隊が大幅に有利になる(後述)。 なお、戦後になってからランチェスターの法則を導出した数理モデルは経営学にも一部応用されており、フォルクスワーゲンのセールス戦略をこれにより説明するなどがされている（後述）佐藤84(p188-200)。経営コンサルタントの田岡信夫は自身の研究を踏まえてこれを易しく解説した本を書いており佐藤84(p200)、日本では「ランチェスター経営戦略」と呼ばれている。
      </p>
    </div>
  </div>
</div>